.container {
    padding: 20px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.logo {
    margin-bottom: auto;
    display: block;
    margin-left: -20px;
    margin-right: auto;
}

.inputBox {
    margin-bottom: 10px;
}

.input {
    background-color: #DDDBCE;
    width: 100%;
    padding: 8px;
    border: 1px solid #000000;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s;
}

.input:focus {
    outline: none;
    border-color: #ffffff;
    box-shadow: 0 0 0 2px rgba(37, 117, 252, 0.2);
}

.button {
    background: #DDDBCE;
    color: #666;
    border: solid 1px #000000;
    border-radius: 8px;
    padding: 10px;
    width: 30%;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.button:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.forgotPassword, .createAccount, .createProfissionalAccount {
    margin-top: 10px;
    display: block;
    color: #666;
    text-decoration: none;
    font-size: 14px;
}

.forgotPassword:hover, .createAccount:hover, .createProfissionalAccount:hover {
    color: #2575fc;
}

.description {
    margin-top: 15px;
    font-family: "Jersey 20", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

.socialTitle {
    margin-top: 15px;
    font-family: "Jersey 20", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
}

.socialLinks {
    font-size: 30px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 30px;
}